<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WR_Login" value="https://id.eu.worx.com/"/>
    <add key="WR_WebApi" value="https://api.worxlandroid.com/api/v2/"/>
    <add key="WR_CliId" value="013132A8-DB34-4101-B993-3C8348EA0EBC"/>
    <add key="KR_Login" value="https://id.eu.kress.com/"/>
    <add key="KR_WebApi" value="https://api.kress-robotik.com/api/v2/"/>
    <add key="KR_CliId" value="62FA25FB-3509-4778-A835-D5C50F4E5D88"/>
    <add key="LX_Login" value="https://id.landxcape-services.com/"/>
    <add key="LX_WebApi" value="https://api.landxcape-services.com/api/v2/"/>
    <add key="LX_CliId" value="4F1B89F0-230F-410A-8436-D9610103A2A4"/>
    <!--
    <add key="SM_WebApi" value="https://api.watermelon.smartmower.cloud/api/v2/"/>
    <add key="SM_CliId" value="xZY9IAxGAqe1wpMRKA39M9gRkLfX6IW5zbgwCi0E"/>
    -->
    <add key="AutoReconnect" value="0"/>
    <add key="CommandInOut" value="true"/>

    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
